In [1]:
# ![ ! -d "SIA-TPs" ] && git clone https://github.com/Fpannunzio/SIA-TPs.git
# ! pip install -r SIA-TPs/TP4/requirements.txt

In [2]:
import numpy as np
import pandas
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

# basePath = 'SIA-TPs/TP4'
basePath = '.'

def oja(values: np.ndarray, eta: float, w: np.ndarray, epoch: int, tolerance: float) -> np.ndarray:
    iteration: int = 0
    for _ in range(epoch):
        for i in range(np.shape(values)[0]):
            iteration += 1
            sum: np.ndarray = np.dot(values[i], w)
            prev_w: np.ndarray = np.copy(w)
            w += eta * sum * (values[i] - sum * w)
            if np.linalg.norm(w - prev_w) < tolerance:
                print(iteration)
                return w / np.linalg.norm(w)
    return w / np.linalg.norm(w)

In [12]:
europe = pandas.read_csv(basePath + '/' + 'europe.csv')
values = StandardScaler().fit_transform(europe.values[:, 1:])

l_rate = 0.001
initial_weights = np.random.uniform(-1, 1, np.size(values, 1))
epoch_count = 1500
e_tolerance = 1e-8


pca = PCA()
pca.fit(values)

oja_weights = oja(values, l_rate, initial_weights, epoch_count, e_tolerance)

diff= np.abs(np.array(pca.components_[0]) - oja_weights)

pc = pandas.DataFrame(data=[pca.components_[0], oja_weights, diff], columns=europe.columns.values[1:])
pc_title = pandas.DataFrame(data=[['Charges'], ['Oja'], ['Diff']], columns=['Charges'])
pandas.concat([pc_title, pc], axis = 1)

,Charges,Area,GDP,Inflation,Life.expect,Military,Pop.growth,Unemployment
0,Charges,0.124874,-0.500506,0.406518,-0.482873,0.188112,-0.475704,0.271656
1,Oja,0.131902,-0.499125,0.412998,-0.483684,0.181898,-0.473477,0.267751
2,Diff,0.007029,0.001380,0.006480,0.000810,0.006213,0.002227,0.003904

In [14]:
pc = pandas.DataFrame(data=[values[26] * oja_weights, values[9] * oja_weights, values[16] * oja_weights, values[25] * oja_weights], columns=europe.columns.values[1:])
pc_title = pandas.DataFrame(data=[['Ukraine'], ['Greece'], ['Luxemburg'], ['Switzerland']], columns=['Charges'])
pandas.concat([pc_title, pc], axis = 1)

,Charges,Area,GDP,Inflation,Life.expect,Military,Pop.growth,Unemployment
0,Ukraine,0.354698,0.864333,1.400803,1.449110,-0.047634,0.717671,-0.117825
1,Greece,-0.027966,0.194897,-0.012891,-0.297699,0.622713,0.054889,0.435912
2,Luxemburg,-0.132942,-1.708263,0.017188,-0.251364,-0.163211,-0.982510,-0.246059
3,Switzerland,-0.101547,-0.442994,-0.945327,-0.470681,-0.140096,-0.771188,-0.415095